/**
* Variables
**/
$colors: (
    light: #FCF6F5,
    primary: #02906E,
    secondary: #20AC7F,
    tertairy: #20AC7F,
    black: #000000,
    deny_red: #D01E1E,
    bg_color: #29493F,
);

$very-small-width: 1px;
$small-width: 768px;
$large-width: 1024px;